// Variables
$text-font-family: 'Lato', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;
$text-line-height: 20px;
$pricing-color: white;

$text-padding: 0 20px;

// Mixins
@mixin heading-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

// Styles
button {
  border: none;
}
a {
  text-decoration: none;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.text-sections-styling {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  overflow-x: hidden;
  margin: 0 auto;

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

section {
  text-align: center;
}